<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script>
            function copy() {
                navigator.clipboard.writeText("{{ primes }}")
                alert("Copied the primes")
            }
        </script>
    </head>
    <body>
        <h1><u>Generated {{ amount }} primes of length: {{ length }}</u></h1>
        <p style="color:red">NEVER EVER SHARE THESE NUMBERS WITH ANYONE.</p>
        <button onclick="copy()">Copy primes</buttton>
    </body>
</html>